:root {
    background-color: #b3ccff;
}
p {
    color: black;
    margin-left: 20px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
h1 {
    color: black;
    margin-left: 40px;
    font-family: 'Indie Flower', cursive;
}
div.gallery {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 15%;
    height: 400px;
    border: 1px solid black;

    
} 
div.gallery img {
    width: 90%;
    height: auto;
    align-content: center;
}
div.quote {
    padding: 5px;
    text-align: center;
    color: black;

}
div.author {
    font-style: italic;
}
div.center {
    position:relative;
    left: 50%;
    width: 80%;
    margin-left: -36%;
}
@media screen and (max-width: 480px) {
    body {
        background-color: #b3ccff;
    }
}
@media screen and (max-width: 890px) {
    div.gallery {
        height: 600px;
        max-width: 40%;
    }
}
@media screen and (max-width: 200px) {
    div.gallery {
        height: 600px;
        max-width: 80%;
    }
}